extends layout

block content
    table
        tr
            th Contact
        tr
            td.zipcode zipCode            
            td city             
            td county             
            td countyFIPS             
            td stateAcronym            
            td stateFIPS              
            td state            
            td repName             
            td congressionalDistrict            
            td repYearElected       
            td repNextElection          
            td repEmailAddress             
            td repOnlineMessgae            
            td repParty            
            td repCommitteeAssignment
            td repAddress
            td repOfficeRoom        
            td repTwitter        
            td repPhone           
            td senator1Name
            td senator1YearElected
            td senator1NextElection
            td senator1EmailAddress             
            td senator1OnlineMessgae             
            td senator1Party             
            td senator1CommitteeAssignment            
            td senator1Address            
            td senator1Twitter            
            td senator1Phone             
            td senator2Name            
            td senator2YearElected             
            td senator2NextElection             
            td senator2EmailAddress             
            td senator2OnlineMessgae             
            td senator2Party            
            td senator2CommitteeAssignment            
            td senator2Address            
            td senator2Twitter:            
            td senator2Phone            
            td governorName
            td governorYearElected
            td governorNextElection
            td governorEmailAddress 
            td governorOnlineMessgae
            td governorParty
            td governorAddress
            td governorTwitter
            td governorPhone
        each contact in data
            tr
                td  #{contact['zipCode']}
            
                td #{contact['city']}
                
                td #{contact['county']}
                
                td #{contact['countyFIPS']}
                
                td #{contact['countyFIPS']}
            
                td #{contact['stateFIPS']}
                
                td #{contact['state']}
            
                td #{contact['repName']}
                
                td #{contact['congressionalDistrict']}
            
                td #{contact['repYearElected']}
            
                td #{contact['repNextElection']}
            
                td #{contact['repEmailAddress']}
                
                td #{contact['repOnlineMessgae']}
            
                td #{contact['repParty']}
            
                td #{contact['repCommitteeAssignment']}
                
                td #{contact['repAddress']}
                
                td #{contact['repOfficeRoom']}
                
                td #{contact['repTwitter']}
                
                td #{contact['repPhone']}
            
                td #{contact['senator1Name']}
            
                td #{contact['senator1YearElected']}
                
                td #{contact['senator1NextElection']}
                
                td #{contact['senator1EmailAddress']}
                
                td #{contact['senator1OnlineMessgae']}
                
                td #{contact['senator1Party']}
                
                td #{contact['senator1CommitteeAssignment']}
            
                td #{contact['senator1Address']}
            
                td #{contact['senator1Twitter']}
            
                td #{contact['senator1Phone']}
                
                td #{contact['senator2Name']}
            
                td #{contact['senator2YearElected']}
                
                td #{contact['senator2NextElection']}
                
                td #{contact['senator2EmailAddress']}
                
                td #{contact['senator2OnlineMessgae']}
                
                td #{contact['senator2Party']}
                
                td #{contact['senator2CommitteeAssignment']}
            
                td #{contact['senator2Address']}
            
                td #{contact['senator2Twitter']}
            
                td #{contact['senator2Phone']}
            
                td #{contact['governorName']}
            
                td #{contact['governorYearElected']}
                
                td #{contact['governorNextElection']}
                
                td #{contact['governorEmailAddress']}
                
                td #{contact['governorOnlineMessgae']}
            
                td #{contact['governorParty']}
                
                td #{contact['governorAddress']}
                
                td #{contact['governorTwitter']}
            
                td #{contact['governorPhone']}
                
